<section id="aa-contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-contact-area">
          <!-- Contact address -->
          <div class="aa-contact-address">
            <h2>Create Category</h2>
            <form [formGroup]="categoryForm">
              <div class="form-group">
                <label for="mainCategoryName">main Category Name*:</label>
                <input
                  type="text"
                  class="form-control"
                  id="mainCategoryName"
                  name="mainCategoryName"
                  placeholder="mainCategoryName"
                  formControlName="mainCategoryName"
                />
              </div>
                <div class="row">
                  <div class="col-md-8">
                    <div class="form-group">
                      <label for="sub1">Sub Product Category 1*:</label>
                      <input
                        type="text"
                        class="form-control"
                        id="subCategoryName"
                        name="subCategoryName"
                        placeholder="subCategoryName"
                        formControlName="subCategoryName"
                      />
                    </div>
                </div>
              </div>
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="!categoryForm.valid"
                (click)="createCategory(categoryForm)"
              >
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="aa-contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-contact-area">
          <!-- Contact address -->
          <div class="aa-contact-address">
            <h2>All Category</h2>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Main Category Name</th>
                  <th scope="col">Sub Category Name</th>
                  <th scope="col">Created Date</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let category of categories$ | async">
                  <td>{{ category.mainCategoryName }}</td>
                  <td>{{ category.subCategoryName }}</td>
                  <td>{{ category.createdDate }}</td>
                  <td>
                    <button class="btn btn-danger" (click)="delete(category)">
                      Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
