<!-- / catg header banner section -->
<!-- start contact section -->
<section id="aa-contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-contact-area">
          <!-- Contact address -->
          <div class="aa-contact-address">
            <h2>Contact Us Content</h2>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Subject</th>
                  <th scope="col">Company</th>
                  <th scope="col">Message</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let message of messages$ | async">
                  <td>{{ message.name }}</td>
                  <td>{{ message.email }}</td>
                  <td>{{ message.subject }}</td>
                  <td>{{ message.company }}</td>
                  <td>{{ message.message }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
